# Advanced IV
IV is pretty handy for linking variables. It can also be used for controlling for attenuation bias.

**Attenu-what?**  
Attenuation Bias is an underestimated of a treatment effect due to incorrect data. An example is that if we have some group of twins and we are trying to use them (since they are a natural experiment controlling for heaps of stuff; parents, even genes, etc) to work out the value of education.

In [46]:
#meta-params:
num_twins = 100

import pandas as pd
import numpy as np

twins_db = pd.DataFrame()

#Generate data for number of years educating
twins_db['Education_1'] = [round(np.random.normal(loc= 14, scale=2)) for x in range(num_twins)]
twins_db['Education_2'] = [round(np.random.normal(loc= 14, scale=2)) for x in range(num_twins)]

#Function for generating salary from education
def sal_f_edu(edu):
    import numpy as np
    slope = 4
    rand = np.random.normal(0, 15)
    return round(slope * edu + rand)

#Generate data for salary
twins_db['Salary_1'] = twins_db['Education_1'].apply(sal_f_edu)
twins_db['Salary_2'] = twins_db['Education_2'].apply(sal_f_edu)

#Store the diferences in the schooling and salary:
twins_db['diff_ed']   = twins_db['Education_1'] - twins_db['Education_2']
twins_db['diff_sal']  = twins_db['Salary_1'] - twins_db['Salary_2']

#Add an constant and convert whole df to float:
twins_db['const'] = 1
twins_db = twins_db.astype(float)

In [47]:
twins_db.sample(5)

    Education_1  Education_2  Salary_1  Salary_2  diff_ed  diff_sal  const
10         15.0         11.0      70.0      37.0      4.0      33.0    1.0
57         14.0         14.0      51.0      54.0      0.0      -3.0    1.0
15         12.0         13.0      49.0      76.0     -1.0     -27.0    1.0
68         15.0         12.0      64.0      48.0      3.0      16.0    1.0
60         10.0         16.0      31.0      76.0     -6.0     -45.0    1.0

In [48]:
X = 'diff_ed'
A = 'same_school'
y = 'diff_sal'

#Run a linear regression
import statsmodels.api as sm
lr = sm.OLS(twins_db[y],
            twins_db[[X, 'const']])
result = lr.fit()
result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                 Results: Ordinary least squares
=================================================================
Model:              OLS              Adj. R-squared:     0.240
Dependent Variable: diff_sal         AIC:                921.1432
Date:               2016-12-01 18:17 BIC:                926.3536
No. Observations:   100              Log-Likelihood:     -458.57
Df Model:           1                F-statistic:        32.33
Df Residuals:       98               Prob (F-statistic): 1.34e-07
R-squared:          0.248            Scale:              574.65
-------------------------------------------------------------------
             Coef.    Std.Err.     t      P>|t|     [0.025   0.975]
-------------------------------------------------------------------
diff_ed      4.6803     0.8231   5.6864   0.0000    3.0470   6.3137
const        1.6667     2.4053   0.6929   0.4900   -3.1065   6.4400
-----------------------------------------------------------------
Omnibus:               3.342        Durbin-Watson:          1.860
Prob(Omnibus):         0.188        Jarque-Bera (JB):       2.086
Skew:                  -0.118       Prob(JB):               0.352
Kurtosis:              2.333        Condition No.:          3
=================================================================

"""